* {
    margin: 0;
    padding: 0;
}

.div_class {
    background-color: gray;
    height: 63vh;
    /* justify-content: center; */
}

.img_class {
    height: 63vh;
    margin: 0;
    margin-left: 20vw;
}

.div_card {
    width: 80vw;
    padding: 1vh;
    border: 1px solid black;
    margin: 2px;
    border-radius: 22px;
}

.image_class {
    width: 15vw;
}

.cardsclass {
    background-color: rgba(238, 245, 246, 0.921);
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
    margin: 2px;
    transform: translate(9px, 10px);
    width: 97vw;
}

/* main {
    overflow-y: scroll;
    padding-top: 20vh;
} */

ol li {
    list-style: none;
    padding: 1vh;
    color: black;
}